{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12 mb-5">
    <form class="row" method="post" enctype="multipart/form-data">

        <div class="col-6 mb-5 text-center">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        Восстановление пароля
                    </h4>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="email" name="email"  class="form-control" id="exampleInputEmail1">
                        <div id="emailHelp" class="form-text">Введите адрес электронной почты</div>
                    <a class="p-2 btn btn-primary" href="{% url 'users:login' %}">Отправить</a>

                </div>
            </div>
        </div>



    </form>
</div>
{% endblock %}